body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

.title{
color:#ff6600;
font-size:40px;
}

.category{
color:#444;
margin-top:40px;
}

.product-grid{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
width:200px;
}

.card h3{
color:#333;
}

button{
background:#ff9900;
border:none;
padding:10px;
border-radius:5px;
color:white;
cursor:pointer;
}

button:hover{
background:#ff6600;
}

.login-body{
background:linear-gradient(45deg,#ff9966,#ff5e62);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{
background:white;
padding:40px;
border-radius:10px;
}

input{
padding:10px;
margin:10px;
width:200px;
}

.cart-btn{
background:green;
color:white;
padding:10px;
margin:10px;
text-decoration:none;
}

.logout-btn{
background:red;
color:white;
padding:10px;
text-decoration:none;
}

.product-img{
width:180px;
height:150px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
width:220px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}